* {
  font-size: 10px;
  font-weight: bold;
}
#waybar {
    background-color: rgba(135, 206, 250, 0.2); /* 20% transparency */
    color: #ffffff; /* White text */
    padding: 1px 1px;
}
#cpu, #memory, #pulseaudio, #clock, #network, #tray, #bluetooth {
    border-radius: 10px; /* Adjust for more/less rounding */
    padding: 5px 10px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 1);/* Adjust color */
}
#workspaces button {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px;
    background-color: rgba(50, 50, 50, 0.8);
}

#workspaces button.inactive {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bold;
}

#workspaces button.active {
    background-color: rgba(100, 149, 237, 0.9);
    color: white;
    font-weight: bold;
}

